body {
  font-family: Arial, sans-serif;
  margin: 30px;
}

h1 {
  text-align: center;
}

h2 {
  color: #444;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 5px 0;
}

/* Vegetarian highlight */
.vegetarian {
  color: green;
}

/* Button */
button {
  margin-top: 20px;
  padding: 10px 15px;
  cursor: pointer;
}
