/* Reset cơ bản */
body {
  font-family: Arial, sans-serif;
  background: white}

.form-container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;

    display: flex;
    flex-direction: column;

    background-color: lightpink ;
    border-radius: 10px;
}

/* Input */
input {
  padding: 8px;
  margin-bottom: 10px;
}

/* Button */
button {
  padding: 10px;
  background: brown;
  color: white;
  border: none;
}

/* Error message */
.error {
  color: red;
  font-size: 12px;
}

/* Password strength */
#passwordStrength {
  font-size: 13px;
  margin-bottom: 10px;
}